/* globals.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.layoutBody {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layoutMain {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: #f9fafb;
}
